:root{
    --white-body-bg-- :  #afe8ff;
    --black-body-bg-- :  #28353a;
    --highest-z-index-- : 100;
    --main-blue--:#0389c9;
    --white-text--: white;
}
#root{
    background: transparent;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y:auto;
}
*,*::after,*::before{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    isolation: isolate;
    font-family: sans-serif;
}
body{
    background-color: var(--white-body-bg--);
    font-size: 14px;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif, "Roboto", sans-serif;
}

.a-svg,
.a-img{
    display: grid;
    align-items: center;
    justify-items: center;
    color: var(--white-text--);
    position: relative;
}
svg,img{
    
    width: calc(100% - 15%);

}
.success {
    position: absolute;
    top: calc(100% - 92%);
    right: calc(100% - 80%);
    font-size: clamp(.1rem , .5rem + 1vw , 1rem);
    border-radius: 51%;
    background-color: #5cff5c;
    display: block;
    /* width: 3%; */
    text-align: center;
    padding: clamp(.2rem , .2rem + 1vw , .3rem);
    /* height: 5%; */
    /* color: white; */
}

@media screen and (width <= 760px) {
    .topNav .top-second{
        grid-template-columns:1fr 1fr 1fr 1fr 2fr;
    }
    .topNav .top-second .hamburgerMenu{
        display: grid;
    }
}
@media screen and (width <= 576px) {
    #root .topNav{
        grid-template-columns: 2fr 1fr;
    }
    .topNav .top-second{
        grid-template-columns:1fr 1fr;
    }
    .topNav .top-second .userchat,
    .topNav .top-second .usernotification{
        display: none;
    }
    .topNav .top-second .userprofile{
        display: none;
    }
}
@media screen and (width >= 1200px) {
    #root .topNav{
        grid-template-columns: 1.1fr 1.3fr;
    }
    .topNav .top-second{
        grid-template-columns: 2fr 2fr 1fr 1fr 1fr 3fr;
    }
    .topNav .top-second .totalPost,
    .topNav .top-second .totalFriends{
        display: grid;
    }
}