:root{
    --white-body-bg-- :  #ffffff;
    --black-body-bg-- :  #28353a;
    --highest-z-index-- : 100;
    --main-blue--:#0389c9;
    --white-text--: white;
}
#root{
    background: #ebebeb;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y:auto;
}
*,*::after,*::before{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    isolation: isolate;
    font-family: sans-serif;
}
body{
    background-color: var(--white-body-bg--);
    font-size: 14px;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif, "Roboto", sans-serif;
}

::placeholder{
    color:var(--white-text--);
}

.a-svg,
.a-img{
    display: grid;
    align-items: center;
    justify-items: center;
    color: var(--white-text--);
    position: relative;
}
svg,img{
    
    width: calc(100% - 30%);

}
svg{
    width: clamp(20px , 10px + 2vw , 40px);
}
.circular--square { border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%; }
.success {
    position: absolute;
    top: calc(100% - 88%);
    right: calc(100% - 80%);
    font-size: clamp(.1rem , .5rem + 1vw , 1rem);
    border-radius: 50%;
    background-color: #5cff5c;
    /* display: block; */
    width: 33%;
    /* text-align: start; */
    padding: clamp(.2rem , .2rem + 1vw , .3rem);
    height: 31%;
    display: flex;
    /* color: white; */
    line-height: .5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.small-text{
    font-size: 1ch;
    text-wrap: nowrap;
}
.story-style {
    /* border: .2rem solid blue; */
    border-radius: clamp(5px , 6px + 1rem , 16px);
    margin-inline: clamp(.1rem , .2rem + 1vw , .5rem);
    /* width: clamp(clamp(15% , 15% - .5rem , 30%) , clamp(20% , 20% - 1rem , 30%) + 2vw , 40%); */
    width: clamp(clamp(10% , 10% - .5rem , 20%) , clamp(15% , 15% - 1rem , 30%) + 2vw , 40%);
    min-width: clamp(15% , 15% , 25%);
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
}
.story-wrapper-style{
    background: orange ;
    width: clamp(80% , 80% + 2vh , 100%);
    height: 100%;
    border-radius: clamp(1px , 5px + 1rem , 10px);
}
.followings-stories{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    -webkit-backdrop-filter: blur(105px) drop-shadow(black 2px 4px 6px);
    /* backdrop-filter: blur(105px) drop-shadow(black 2px 4px 6px); */
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: var(--white-text--);
    font-weight: 800;
    isolation: auto;
}
.followings-stories span{
    margin-left:clamp(2% , 4% + 1vw , 5%);
    margin-bottom:clamp(2% , 2% + 1vw , 5%);
    z-index: 2;
}
.followings-stories-overlay{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
}
.newsfeed-main-left-commone-style {
    display: flex;
    position: relative;
    background-color: #cacaff;
    width: 100%;
    height: clamp(10rem , 10rem + 10vw , 50%);
    border-radius: clamp(5px , 5px , 15px);
}
@media screen and (orientation: portrait), screen and (aspect-ratio: 1/1){
    .stories .story-style{
        width: clamp(clamp(40% , 18% - .5rem , 30%) , clamp(22% , 22% - 1rem , 30%) + 2vw , 40%);
        min-width: clamp(30% , 30% , 40%);
    }
}
@media (orientation: landscape) and (max-aspect-ratio: 16/9) {
    .stories .story-style{
        /* width: clamp(clamp(10% , 10% - .5rem , 20%) , clamp(15% , 15% - 1rem , 30%) + 2vw , 40%);
        min-width: clamp(15% , 15% , 25%); */
        /* max-width: 30%;
        min-width: 25%; */
        max-width: 30%;
        min-width: clamp(10% , 10% + 2vh , 15%);
    }
    #root .newsfeed-section{
        grid-template-rows: minmax(10rem , 10vh);
    }
  }
  
@media screen and (width <= 760px) {
    .topNav .top-second{
        grid-template-columns:1fr 1fr 1fr 1fr 2fr;
    }
    .topNav .top-second .hamburgerMenu{
        display: grid;
    }
    #root .leftAside{
        top: -100%;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    #root .newsfeed-section{
        /* grid-template-rows: 1.5fr 5fr; */
        width: 100vw;
        margin-inline:0%;
    }
    .newsfeed-section .newsfeed-main{
        grid-template-columns: clamp(8rem , 10rem + 2vw , 14rem) 5fr clamp(8rem , 10rem + 2vw , 14rem);
    }
}
@media screen and (width <= 576px) {
    #root .topNav{
        grid-template-columns: 2fr 1fr;
    }
    .topNav .top-second{
        grid-template-columns:1fr 1fr;
    }
    .topNav .top-second .userchat,
    .topNav .top-second .usernotification{
        display: none;
    }
    .topNav .top-second .userprofile{
        display: none;
    }
    #root .newsfeed-section{
        grid-template-rows: minmax(8rem, 10vh);
    }
    .newsfeed-section .newsfeed-main{
        grid-template-columns: 0fr 1fr 0fr;
    }
}
@media screen and (width >= 1200px) {
    #root .topNav{
        grid-template-columns: 1.1fr 1.3fr;
    }
    .topNav .top-second{
        grid-template-columns: 2fr 2fr 1fr 1fr 1fr 3fr;
    }
    .topNav .top-second .totalPost,
    .topNav .top-second .totalFriends{
        display: grid;
    }
}
@media screen and (width <= 1070px) and (width > 760px) {
    .newsfeed-section .newsfeed-main{
        grid-template-columns: clamp(10rem , 10rem + 2vw , 18rem) calc((100% - clamp(10rem , 10rem + 2vw , 18rem)) - clamp(10rem , 10rem + 2vw , 18rem) ) clamp(10rem , 10rem + 2vw , 18rem);
    }
}
@media screen and (width >= 1440px){
    .newsfeed-section .newsfeed-main {
        grid-template-columns: clamp(20rem , 25rem + 2vw , 38rem) calc((100% - clamp(20rem , 25rem + 2vw , 38rem)) - clamp(20rem , 25rem + 2vw , 38rem) ) clamp(20rem , 25rem + 2vw , 38rem);
    }
} 