.newsfeed-section {
    display: grid;
    /* grid-template-columns: 1fr 5fr; */
    grid-template-rows: minmax(clamp(15rem , 11rem + 2vw , 20rem), clamp(15vw , 10vw + 2vw , 25vw));
    /* border: .1rem solid red; */
    width: 90%;
    height: 100vh;
    margin: auto;
    margin-left: calc(100% - 92%);
    /* margin-inline: clamp(8% , 8% + 2vw , 10%); */
    margin-top: clamp(2% , 2% + 2vw , 10%);
}

.newsfeed-main{
    display: grid;
    /* grid-auto-columns: 1fr; */
    grid-template-columns: clamp(15rem , 10rem + 2vw , 15rem) calc((100% - clamp(15rem , 10rem + 2vw , 15rem)) - clamp(15rem , 10rem + 2vw , 15rem) ) clamp(15rem , 10rem + 2vw , 15rem);
    justify-content: center;
}
.newsfeed-main-mid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: clamp(.5rem , .5rem + 1vw , 1rem);
}
/* ----- stories ------ */
.stories{
    display: grid;
    /* flex-direction: row;
    flex-wrap: nowrap; */
    /* overflow-x: hidden; */
    overflow-y: hidden;
    grid-auto-flow: column;
    grid-auto-columns:minmax(clamp(10rem , 8rem + 3vw , 15rem), clamp(15vw , 10vw + 2vw , 25vw));
    grid-column-gap: 1vw;
    scroll-snap-type: x mandatory;
}
.stories::-webkit-scrollbar {
    display: none;
}
.stories.active{
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.add-story {
    /* background-color: gray; */
    border: 2px solid rgba(20, 106, 160, 0.427);
    display: flex;
    justify-content: center;
    margin-inline: 0%;
    padding-block: clamp(.5rem , .5rem + 1vw , clamp(.2rem , .2rem , 1rem));
    margin-right: clamp(2px , 2px + 1vw , .5rem);
    background-image: url(https://themes.pixelstrap.com/friendbook/assets/images/story-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #00d3ff;
    background-blend-mode: soft-light;
}
.otherUserStorie-1{
    /* background-color: red; */
}
.addStory-wrapper {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(.5rem , .5rem + 2vw , 1rem);
    font-weight: 700;
    color: var(--white-text--);
}
.addStory-wrapper > div{
    border: 2px solid white;
    width: 45%;
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--main-blue--);
    border-radius: 100%;
    margin-bottom: clamp(5%, 5% + 1vw , 10%);
}
.addStory-wrapper > div > img {
    width: clamp(.1rem , .5rem + 1vw , 1rem);
}

/* --------------- newsfeed-main-left=------------- */
.newsfeed-main-left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    padding-block: clamp(.5rem , .5rem + 1vh , 1rem);
    /* width: clamp(12rem , 13rem + 2vw , 18rem); */
    overflow: hidden;
}
.newsfeed-main-right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    padding-block: clamp(.5rem , .5rem + 1vh , 1rem);
    /* width: clamp(12rem , 13rem + 2vw , 18rem); */
    /* background-color: #8772ab; */
    overflow: hidden;
}
.Populer_sugggetion {
    min-height: 20rem;
    max-height: 35rem;
    display: flex;
    /* background-color: white; */
    flex-direction: column;
    justify-content: space-between;
    gap: clamp(.2rem , .3rem + 1vw , .8rem);
}
.friend_suggetion{
    background: bisque;
    /* min-height: 13rem; */
    /* max-height: 18rem; */
    display: flex;
    flex-direction: column;
    padding-block: clamp(.5rem , .5rem + 1vw , 1rem);
}
.liked_pages {
    background-color: crimson;
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-inline: clamp(.4rem , .5rem + 1vw , 1rem);
    padding-block: clamp(1rem , 1rem + 1vw , 2rem);
    gap: clamp(.3rem , .3rem + 1vw , .8rem);

}
.newsfeed-main-left > div{
    border-radius: clamp(.2rem , .2rem + 1vw , 1rem);
    /* padding-inline: clamp(1rem , 1rem + 1vw , 2rem); */

}
.Populer_sugggetion_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: clamp(.5rem , .5rem + 1vw, 1rem);
    padding-inline: clamp(.5rem , .3rem , .5rem);
}
.Populer_sugggetion_1 a,
.friend_suggetion_1 a ,
.liked_pages_1 a ,
.events_1 a
 {
    background-color: var(--svg-background-color--);
    /* width: 10px; */
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0.3rem;
    height: clamp(10px , 10px + 1vw , 20px);
}
.Populer_sugggetion_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
    padding-block: clamp(.2rem , .3rem + 1vw , 1rem);
}
.img_wrapper{
    width: clamp(4rem , 5rem + 2vw ,8rem);
    height: clamp(4rem , 5rem + 2vw ,8rem);
    position: relative;
    border-radius: 100%;
}
.Populer_sugggetion_3 {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: clamp(.2rem , .3rem + 1vw , .8rem);
    color: #cfafaf;
    justify-content: center;
}
.Populer_sugggetion_4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* padding-inline: clamp(.5rem , .5rem + .5vw , .8rem); */
}
.Populer_sugggetion_4_childs {
    /* color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    font-size: clamp(.2rem , .2rem + 1rem , 1vw);
}
.following{
    border-right: .1rem solid white;
}
.followers{
    border-left: .1rem solid white;
}
.Populer_sugggetion_5 {
    padding-block: clamp(.5rem , .5rem + 1vw , 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Populer_sugggetion_5 button {
    border: 0px;
    font-weight: 900;
    padding: .5rem;
    border-radius: clamp(5px, 5px + 1vw , 10px);
}
.friend_suggetion_1,
.liked_pages_1,
.events_1
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-block: clamp(.5rem , .5rem + 1vw , 1rem);
}
.friend_suggetion_1 h2, 
.liked_pages_1 h2,
.events_1 h2 
{
    width: 100%;
    font-size: clamp(.2rem , .2rem + 1vw , .8rem);
    margin-right: clamp(.1rem , .2rem + 1vw , .5rem);
}
.friend_suggetion_2{
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: auto;
    height: 100%;
}
.friend_suggetion_2 > .story-style{
    width: clamp(5rem , 10rem + 2vw , 20rem);
    height: clamp(5rem , 10rem + 2vw , 20rem);
    min-width: 10rem;
}
.friend_suggetion{
    padding-inline: clamp(.2rem , .5rem + 1vw , .8rem);
}
.liked_pages_2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: clamp(.2rem , .3rem + 1vw , .9rem);
    align-items: center;
    justify-content: space-between;
}
.likedPage_2_2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.likedPage_2_2 h2{
    font-size: clamp(.1rem , .5rem + .5vw , 2rem);
}
.likedPage_2_2 span{
    font-size: clamp(.1rem , .2rem + .5vw , .7rem);
}
.events{
    /* background-color: white; */
    border-radius: clamp(.2rem , .2rem + 1vw , 1rem);
    display: flex;
    flex-direction: column;
    padding-inline: clamp(.2rem , .5rem + 1vw , .8rem);
    align-items: center;
    background-size: cover;
    /* backdrop-filter: blur(131px); */
    /* background-color: #2a8a9c; */
    /* background-blend-mode: multiply; */
    color: white;
    position: relative;

}
.events::before{
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    background: linear-gradient(85deg , #ff6969 , #b44ba2b0);
    width: 100%;
    height: 100%;
    border-radius: clamp(.2rem , .2rem + 1vw , 1rem);
}
.events_2 {
    display: flex;
    flex-direction: row;
    padding-block: clamp(.3rem , .5rem + 1vw , 1rem);
    align-items: center;
    gap: 15px;
}
.events_2 > div {
    /* background-color: #ffffff45; */
    padding: .5rem;
    border-radius: 100%;
    
}
.events_2 > .icon{
    height: 50%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.events_2 .icon img{
    height: 20px;
    width: 20px;
}
.events_2 .center-profile{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0%;
}
.events_2 > div::before{
    content: "";
    position: absolute;
    background-image: radial-gradient(circle, #b6b6b6 , #99999900);
    width: 100%;
    height: 100%;
    border-radius: 100%;
    animation: EVENTS_ 1s ease-out 1s infinite alternate none;
}
.events_2 .center-profile > img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    align-self: center;
}
.events_1 .Text-wrapper p{
    font-size: clamp(.2rem , .2rem + 1vw , .8rem);
}
.events_3{
    display: flex;
    flex-direction: column;
}
.events_3 .Text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: clamp(.5rem , .5rem + 1vw , 1rem);
}
.events_3 form{
    padding-block: clamp(.5rem , .5rem + 1vw , 1rem);   
    display: flex;
    align-items: center;
    justify-content: center;
}
.events_3 form input,
.events_3 form button{
    border: none;
    border-right: 2px solid white;
    border-radius: 15px;
    background-color: #ffffff4f;
    color: rgb(0, 0, 0);
    height: 100%;
    font-size: clamp(.1rem , .2rem + 1vw , .8rem);
    padding: clamp(.5rem , .5rem + 1vw , .8rem);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 75%;
}
.events_3 form button{

border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: clamp(.1rem , .2rem + 1vw , .4rem);
    width: 25%;
}

/*---------------- newsfeed-main-mid-----------  */
.create-post {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: clamp(.5rem , .5rem + 1vw , 1rem);
    border-radius: clamp(.2rem , .2rem + 1vw , 1rem);
    /* background-color: white; */
    overflow: hidden;
    /* list-style: none; */
    gap: clamp(.6rem , .6rem + 1.1vw , 1.2rem);
}
.createPost-1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: clamp(.3rem , .3rem + .8vw , .8rem);
}
.createPost-1 h2 {
    font-size: clamp(.3rem , .5rem + 1vw , 1.3rem);
    font-weight: 800;
}
.createPost-1 span {
    font-size: clamp(.2rem , .2rem + 1vw , .8rem);
}
.visibility-dropdown select {
    border: 0px;
}
.createPost-2 {
    display: flex;
    align-items: center;
    gap: clamp(.4rem , .4rem + 1vw , 1rem);
}
.createPost-2 .user-input {
    background-color: #85c4d466;
    border: 0px;
    width: 100%;
    font-size: clamp(.4rem , .4rem + 1.2vw , 1.4rem);
    padding-block: clamp(.3rem , .3rem + 1.1vw , 1.2rem);
    padding-inline: clamp(.2rem , .2rem + 1vw, .9rem);
    border-radius: clamp(5px , 5px + 1vw , 15px);
}
.createPost-2 .submit-btn {
    font-size: clamp(.3rem , .3rem + 1vw , 1.3rem);
    padding: clamp(.1rem , .2rem + 1vw , 1.5rem);
    border-radius: clamp(5px , 5px + 1vw , 15px);
    background-color: var(--main-blue--);
    color: white;
    border: none;
    height: 100%;
}
.gradient-bg {
    list-style: none;
    display: flex;
    width: 100%;
    /* height: 100px; */
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: clamp(.5rem , .5rem + 1vw, 1rem);
}
.gradient-bg li {
    width: clamp(.5rem , .7rem + 2vw , 2rem);
    height: clamp(.5rem , .7rem + 2vw , 2rem);
    border-radius: 100%;
}
.gr-1{
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fad0c4), to(#ffd1ff));
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%); 
}
.gr-2{ 
    background-image: -webkit-gradient(linear, left bottom, left top, from(#cfd9df), to(#e2ebf0));
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
 }
.gr-3{ 
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
 }
.gr-4{ 
    background-image: -webkit-gradient(linear, left bottom, left top, from(#a8edea), to(#fed6e3));
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
 }
.gr-5{ 
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
 }
.gr-6{ 
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fff1eb), to(#ace0f9));
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
 }
.gr-7{ 
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
 }
.gr-8{ 
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f3e7e9), color-stop(99%, #e3eeff), to(#e3eeff));
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
 }
.gr-9{ 
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.5) 47%, rgba(0, 0, 0, 0.5) 100%);
    background-blend-mode: screen;
 }
.gr-10{ 
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
 }
.gr-11{ 
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
 }
.gr-12{ 
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
 }
.gr-13{ 
    background-color: #f6f0c4;
    background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
 }
.gr-14{ 
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
 }
.gr-15{ 
    background-color: #e4eee9;
    background-image: linear-gradient(315deg, #e4eee9 0%, #93a5ce 74%);
 }
